h1
{
	color:white;
	padding:30px;
	background-image: url(../images/backimage1.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	font-family: 'Lucida Handwriting',cursive;
	text-align: right;
	margin:0px;
	font-size: 40px;
}
body
{
	margin: 0px;
}
nav
{
	background: linear-gradient(45deg,green,grey,brown,skyblue);
	padding: 15px;
}
nav a
{
	text-decoration: none;
	text-transform: capitalize;
	margin-right: 20px;
	margin-left: 30px;
	color: white;
	background-color: blue;
	padding: 10px;
	border-radius: 10px;
}
nav a:hover
{
	background-color:cyan;
	border-radius: 10px;
}
nav a
{
	position: sticky;
	top: 10px;
	left: 0px;
}
#home-nav-items
{
	display: flex;
}
@media (max-width: 1000px)
{
	#home-nav-items
	{
		flex-direction: column;
	}
	.styles
	{
		width:15%;
		margin-bottom: 5px;
	}
}
.fas
{
	margin-right: 10px;
	margin-left: 10px;
	color:violet;
}
section
{
	background-image:url(../images/backimage2.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}
h2
{
	background:rgba(160,200,160,0.5);
	text-align: center;
	font-family: 'papyrus',fantasy;
	color: violet;
	margin:0px;
}
.main-section-article
{ 
	border: 2px solid blue;
	border-radius: 0px 20px 0px 20px;
	margin-left:10px;
	display: inline-block; 
	overflow: hidden;
	position: relative;
}
.main-section-article
{
	width:300px;
	height:450px;
	margin:40px;
	border: 2px solid red;
	transition: all 0.5s;
}
.main-section-article img:hover
{
	transform: scale(1.2,1.2)
}
section #gallery-items img
{
	margin:20px;
	border-radius: 30px 20px 30px 20px;
}
footer
{
	background:linear-gradient(45deg,blue,red,brown,yellow);
	padding: 20px;
	text-align: center;
}
p
{
	text-transform: capitalize;
	color: white;
}
#about-content p
{
	padding:50px;
	font-size:25px;
	text-indent:20px;
	text-align: justify;
	font-family: 'papyrus',fantasy;
	color:cyan;
	margin-bottom:0px; 
}
#about-content h3
{
	color: white;
	font-family:'Verdana',sans-serif;
	word-spacing: 10px;
}
#table
{
	width: 50%;
	margin: auto;
	padding: 50px;
	margin-top:50px; 
	background:linear-gradient(4deg,brown,yellow,black); 
	border-radius: 20px;
}
#table table
{
	padding: 20px;
	margin-left:300px;
}
#table td
{
	padding: 20px;
}
input[type='text'],input[type=number],input[type='email'],button
{
	background:none;
	outline: none;
	border: none;
	border-bottom:5px solid white;
	border-radius: 20px; 
}
#table i
{
	margin-left:400px;
	padding: 30px;
	font-size: 20px;
}
#table h4
{
	margin-left:350px;
	font-size:25px;
	color: violet;
	font-family: 'Verdana',sans-serif;
}